pre[class*="language-"],
code[class*="language-"] {
  font-size: 12px;
  color: var(--text-secondary);
  text-shadow: none;
  font-family: Fira Code, monospace;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height:2;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  hyphens: none;
}

pre[class*="language-"]::selection,
code[class*="language-"]::selection,
pre[class*="language-"]::mozselection,
code[class*="language-"]::mozselection {
  text-shadow: none;
  background: #000000;
}

@media print {

  pre[class*="language-"],
  code[class*="language-"] {
    text-shadow: none;
  }
}

pre[class*="language-"] {
  margin: 0;
  overflow: auto;
  background: var(--background);
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 1rem;
}

:not(pre)>code[class*="language-"] {
  /* padding: .1em .3em;
  border-radius: .3em;
  color: #98a1b6;
  background: #000000; */
  background: var(--code-color);
  border: 1px solid var(--code-border);
  color: var(--text-secondary);
  padding: 1px 4px;
  border-radius: 5px;
}

/*********************************************************
* Tokens
*/
.namespace {
  opacity: .7;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: green;
}

.token.punctuation {
  color: var(--text-secondary);
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: var(--link-color);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: var(--link-color-shade);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  /* color: 0;
  background: #ffffff; */
  color: var(--code-border);
}

.token.atrule,
.token.attr-value,
.token.keyword {
  color: var(--text-secondary);
}

.token.function {
  color: #dd4a68;
}

.token.regex,
.token.important,
.token.variable {
  color: #ee9900;
}

.token.important,
.token.bold {
  font-weight: bold;
}

.token.italic {
  font-style: italic;
}

.token.entity {
  cursor: help;
}

/*********************************************************
* Line highlighting
*/
pre[data-line] {
  position: relative;
}

pre[class*="language-"]>code[class*="language-"] {
  position: relative;
  z-index: 1;
}

.line-highlight {
  position: absolute;
  left: 0;
  right: 0;
  padding: inherit 0;
  margin-top: 1em;
  background: #1d2029;
  box-shadow: inset 5px 0 0 #1d2029;
  z-index: 0;
  pointer-events: none;
  line-height: inherit;
  white-space: pre;
}